@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
:root{
    --tyrian-purple: #00000000;
    --magenta: #3f4711c7;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background: var(--tyrian-purple);
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.9);
    background-color:rgb(206, 240, 12);
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
     justify-content: center;
}
.main-wrapper{
  max-width: 1080px;
    background: rgba(91, 94, 94, 0.274);
    width: 480px;
    height: 590px;
}
.bmi-heads{
    background: var(--magenta);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.bmi-heads .bmi-head{
    padding: 1rem 1.6rem;
    width: 100%;
    cursor: pointer;
}
.active-head{
    background: rgb(0, 0, 0);
}
.bmi-content{
    padding: 2rem;
}
.form-group{
    padding: 0.55rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.form-group.col-3{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
}
.form-control{
    width: 100%;
    font-size: 1.15rem;
    font-family: inherit;
    padding: 0.6rem 1.2rem;
    margin: 0.2rem 0;
    border: 1.5px solid rgba(3, 0, 0, 0.973);
    border-radius: 4px;
}
.form-control:focus{
    outline: 0;
}
.form-control::placeholder{
    text-align: right;
    opacity: 0.6;
}
.btns{
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns .btn{
    width: 140px;
    margin: 0 0.5rem;
    padding: 0.8rem 0;
    font-family: inherit;
    font-size: 1.15rem;
    border: none;
    background:black;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    letter-spacing: 0.5px;
}
.btns .btn:hover{
    outline: 10;
    opacity: 0.5;
}
.btns .btn:focus{
    outline: 0;
}
#bmi-usc, #bmi-si{
    display: none;
}
/* js related */
.show-bmi{
    display: block!important;
}
.alert-error{
    text-align: center;
    padding: 1rem 1.6rem 0;
    color: var(--magenta);
    display: none;
}
.bmi-output{
    padding: 1rem 1.6rem;
    text-align: center;
}
#bmi-value{
    padding-bottom: 0.4rem;
}
#bmi-category{
    color: var(--magenta);
}
#bmi-gender{
    text-transform: capitalize;
}
.tab{
    border-collapse: collapse;
    margin:25px 530px ;
    font-size: 0.9em;
    min-width: 400px;
    padding: 20%;
}
th{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    position: centre;
    background-color: rgb(2, 0, 0);
    font-family: 'Lato', cursive;
    color: blanchedalmond;
    
}
th,td{
    border: 2px solid #000;
    padding: 15px 15x;
}
tr:nth-child(even)
{
    background-color: rgb(233, 233, 105);
    padding: 12px 15x;
    
}
tr:nth-child(odd)
{
    background-color: rgb(214, 211, 20);
    padding: 12px 15x;
}
.tab tbody tr {
    border-bottom:1px solid #dddddd;
    

}
.p2,.p1{
  padding-top: 20px;
    margin-bottom: 30px;
    font-family: 'Lato', cursive;
    
}